.projectpage__section {
    padding: 6rem 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.projectpage__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }
  
.projectpage__subtitle {
display: block;
font-size: var(--normal-font-size);
margin-bottom: var(--mb-0-5);
}

.projectpage__title,
.projectpage__subtitle {
text-align: center;
}

.projectpage__stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.projectpage__bullet{
    margin: 0px 10px;
}

.projectpage__icon{
    margin: 0px 10px 0px  0px;
}

.headline__image{
    display: flex;
    /* max-width: 640px; */
    max-height: 420px;
    width: 100%;
    min-height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    margin-bottom: var(--mb-1);
}

.project__textblock{
    margin-bottom: var(--mb-1-5);
    text-align: left;
}

.ReactMarkdown{
    margin-bottom: var(--mb-1-5);
    text-align: left;
    width: 100%;
}

.padding__bottom{
    margin-bottom: var(--mb-0-5);
    text-align: left;
}

.figurecaption{
    margin-bottom: var(--mb-0-5);
}

.cnn__image{
    background-image: url(../../assets/work1.jpg);
}

.bird__image{
    background-image: url(../../assets/work3.jpg);
}

.smoking__image{
    background-image: url(../../assets/work4.jpg);
}

.covid__image{
    background-image: url(../../assets/work2.jpg);
}

.epidemic__image{
    background-image: url(../../assets/work6.jpg);
}

.manu__image{
    background-image: url(../../assets/work5.jpg);
}

/*=============== BREAKPOINTS ===============*/
  
  /* For medium devices */
  @media screen and (max-width: 576px) {
    .headline__image{
        min-height: 300px;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .headline__image{
        min-height: 120px;
    }
  }


