.aboutpage__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 4rem;
}

.aboutpage__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}


.aboutpage_topleft_hobby { grid-area: TL; }
.aboutpage_topright_hobby { grid-area: TR; }
.aboutpage_bottomleft_hobby { grid-area: BL; }
.aboutpage_bottomright_hobby { grid-area: BR; }

.grid-hobby-container {
    display: grid;
    grid-template-areas:
      'TL TR'
      'BL BR';
    gap: 30px;
  }

  .aboutpage__img-hobby {
    width: 175px;
    border-radius: 1.5rem;
    justify-self: center;
}

.aboutpage__info {
    grid-template-columns: repeat(3, 140px);
    gap: 2rem;
    margin-bottom: var(--mb-2);
}

.aboutpage__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.wisdom_box:hover {
    cursor: pointer;
    background-color: #1180AE;
}

.wisdom_box:hover .aboutpage__title{
    color: white;
}

.wisdom_box:hover .aboutpage__icon{
    color: white;
}

.courage_box:hover {
    cursor: pointer;
    background-color: #FCB239;
}

.courage_box:hover .aboutpage__title{
    color: white;
}

.courage_box:hover .aboutpage__icon{
    color: white;
}

.moderation_box:hover {
    cursor: pointer;
    background-color: #D74061;
}

.moderation_box:hover .aboutpage__title{
    color: white;
}

.moderation_box:hover .aboutpage__icon{
    color: white;
}

.direction_box:hover {
    cursor: pointer;
    background-color: #F37A29;
}

.direction_box:hover .aboutpage__title{
    color: white;
}

.direction_box:hover .aboutpage__icon{
    color: white;
}

.responsibility_box:hover {
    cursor: pointer;
    background-color: #B66BA3;
}

.responsibility_box:hover .aboutpage__title{
    color: white;
}

.responsibility_box:hover .aboutpage__icon{
    color: white;
}

.charisma_box:hover {
    cursor: pointer;
    background-color: #6d5b97;
}

.charisma_box:hover .aboutpage__title{
    color: white;
}

.charisma_box:hover .aboutpage__icon{
    color: white;
}


.aboutpage__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.aboutpage__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.aboutpage__subtitle {
    font-size: var(--tiny-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .aboutpage__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .aboutpage__img {
        width: 220px;
    }

    .aboutpage__box {
        padding: 0.75rem 0.5rem;
    }

    .aboutpage__info {
        justify-content: center;
    }


    .aboutpage__data {
        text-align: center;
    }


    .aboutpage__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {

    .aboutpage__description {
        padding: 0;
    }
  }
  
  .aboutpage__info {
    grid-template-columns: repeat(3, 1fr);
}

  /* For small devices */
  @media screen and (max-width: 350px) {
    .aboutpage__info {
        grid-template-columns: repeat(2, 1fr);
    }
  }